:root {
  --primary-color: rgb(208, 29, 29);
}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: 'roughtypewriterregular', Georgia, Times, serif;
}

@font-face {
  font-family: 'roughtypewriterbold_italic';
  src: url('/styles/fonts/rough_typewriter-bld-itl-webfont.woff2') format('woff2'),
       url('/styles/fonts/rough_typewriter-bld-itl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roughtypewriteritalic';
  src: url('/styles/fonts/rough_typewriter-itl-webfont.woff2') format('woff2'),
       url('/styles/fonts/rough_typewriter-itl-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roughtypewriterregular';
  src: url('/styles/fonts/rough_typewriter-webfont.woff2') format('woff2'),
       url('/styles/fonts/rough_typewriter-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* NavBar */
.topNav {
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.topNav a {
  font-family: 'roughtypewriterregular', Georgia, Times, serif;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topNav a:hover {
  background-color: white;
  color: var(--primary-color);
}

.topNav a.active {
  background-color: var(--primary-color);
  color: black;
}

.topNav .icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .topNav a {
    font-size: 20px;
  }
}

@media screen and (max-width: 750px) {
  .topNav a:not(:first-child) {display: none;}
  .topNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .topNav.responsive {position: relative;}
  .topNav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.parallax {
  /* The image used */
  background-image: url("/images/home-bkg.jpg");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main img {
  max-width: 70%;
  height: auto;
}

.image-popup {
  cursor: pointer;
}