/* Index:             */
/* 1. Global & Resets */
/* 2. Typography      */
/* 3. Layout          */
/* 4. Utilities       */
/* 5. Media Queries   */
/* ****************** */

/* 1. Global & Resets */
:root {
  --primary-color: rgb(208, 29, 29);
  --darkMode-nav-bkg: white;
  --darkMode-bkg: white;
  --darkMode-gig-bkg: #f8f9fa;
  --darkMode-gig-border: rgba(0, 0, 0, 0.125);
  --darkMode-text: black;
}

.darkModeEnabled {
  --primary-color: rgb(208, 29, 29);
  --darkMode-nav-bkg: #080808;
  --darkMode-bkg: #131518;
  --darkMode-gig-bkg: #080808;
  --darkMode-gig-border: rgba(255, 255, 255, 0.125);
  --darkMode-text: #f0f0f0;
}

@font-face {
  font-family: "roughtypewriterbold_italic";
  src: url("/styles/fonts/rough_typewriter-bld-itl-webfont.woff2")
      format("woff2"),
    url("/styles/fonts/rough_typewriter-bld-itl-webfont.woff") format("woff");
}

@font-face {
  font-family: "roughtypewriteritalic";
  src: url("/styles/fonts/rough_typewriter-itl-webfont.woff2") format("woff2"),
    url("/styles/fonts/rough_typewriter-itl-webfont.woff") format("woff");
}

@font-face {
  font-family: "roughtypewriterregular";
  src: url("/styles/fonts/rough_typewriter-webfont.woff2") format("woff2"),
    url("/styles/fonts/rough_typewriter-webfont.woff") format("woff");
}

body {
  background-color: var(--darkMode-bkg);
  color: var(--darkMode-text);
  min-height: 100%;
  width: 100%;
  font-family: "roughtypewriterregular", Georgia, Times, serif;
}

ul {
  padding-inline-start: 0;
}

/* 2. Typography      */
h2 {
  margin-top: 3rem;
}

p {
  font-size: 1.2rem;
  line-height: 2.5em;
}

figcaption {
  margin-bottom: 2rem;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5em;
}

.band li {
  list-style-type: none;
}

footer {
  color: var(--darkMode-text);
  opacity: 0.6;
  margin-top: 12rem;
}

/* 3. Layout          */
/* -- Navigation */
.nav-container {
  position: fixed;
  top: 0;
  background-color: var(--darkMode-nav-bkg);
  min-height: 45px;
  width: 100%;
  z-index: 20;
  text-align: center;
}

.nav-container a {
  display: block;
}

.topNav {
  padding-left: 310px;
  width: 100%;
}

.topNav a {
  font-family: "roughtypewriterregular", Georgia, Times, serif;
  float: left;
  display: block;
  color: var(--darkMode-text);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 28px;
}

.topNav a:hover,
a:focus {
  color: var(--primary-color);
}

.topNav a.active {
  color: var(--primary-color);
}

.topNav .icon {
  display: none;
}

.navHomeLogo {
  filter: drop-shadow(0px 16px 32px black);
  position: fixed;
  top: 5px;
  left: 5px;
  width: 300px;
  height: auto;
  z-index: 25;
}

.hero-container {
  height: 100%;
  display: flex;
}

.hero-text {
  display: inline-block;
  align-self: flex-end;
  text-align: center;
}

.gig-date {
  margin-bottom: 0.75rem;
  padding: 0.25rem 0;
  background-color: var(--darkMode-gig-bkg);
  border: 1px solid var(--darkMode-gig-border);
  border-radius: 3px;
}

main img {
  max-width: 100%;
  height: auto;
}

/* 4. Utilities       */
/* -- Parallax */
.parallax {
  /* The image used */
  background-image: url("/images/home-bkg.jpg");

  /* Full height */
  height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* -- font-awesome pseudo elements */
.icon-after::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.email-btn::after {
  content: "\f0e0";
  font-weight: 400;
  margin-left: 0.5em;
}

.fb-btn::after {
  content: "\f4ad";
  margin-left: 0.5em;
}

/* -- modal pointer */
.image-popup {
  cursor: pointer;
}

/* 5. Media Queries   */
@media screen and (max-width: 1200px) {
  p {
    font-size: 1.1rem;
  }
  .topNav {
    padding-left: 190px;
  }
  .topNav a {
    font-size: 20px;
    padding: 10px 10px;
  }
  .navHomeLogo {
    width: 180px;
  }
}

@media screen and (max-width: 850px) {
  p,
  li,
  .gig-date {
    font-size: 0.9rem;
    line-height: 2rem;
  }
  .topNav a {
    display: none;
  }
  .topNav a.icon {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
  }
  .topNav.responsive {
    background-color: var(--darkMode-bkg);
    position: absolute;
    padding-left: 0px;
    padding-top: 100px;
    height: 100vh;
  }
  .topNav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topNav.responsive a {
    float: none;
    display: block;
    padding: 4px auto;
  }
  .navHomeLogo {
    display: inline-block;
    position: fixed;
    width: 120px;
    top: 5px;
    left: 5px;
  }
  .parallax {
    background-position: auto;
    background-size: auto;
  }
}
